@import url(header.css);

.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  justify-content: flex-start;
}
.info-container {
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  height: 5%;
}

