body {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container-header {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    color: #ffffff;
    align-items: center;
    padding: 10px;
    position: relative;
    height: 5vh;
  }
  
  .container-header h1 a,
  .container-header h1 a:visited,
  .container-header h1 a:active {
    text-decoration: none;
    color: white;
  }
  
  .logo {
    padding: 10px;
  }
  
  .profile-menu {
    position: relative;
    cursor: pointer;
    padding: 20px;
    margin-right: 10px;
  }
  
  .about-us,
  .business {
    margin-right: 70px;
  }
  
  .profile-menu-dropdown {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    min-width: 100%;
    background-color: #ddd;
    padding: 10px;
    z-index: 999;
  }
  
  .profile-menu:hover .profile-menu-dropdown {
    display: block;
  }
  
  .profile-menu-dropdown a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 10px;
  }
  
  .about {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
  }
  
  .about a {
    color: #ffffff;
    margin-left: 10px;
    text-decoration: none;
    margin-right: 10px;
  }