body {
  background-color: #d3d3d3;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-login {
  justify-content: center;
  background-color: #fff;
  padding: 50px;
  border: solid black 1px;
  border-radius: 10%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  justify-content: center;
}

.input {
  margin-bottom: 10px;
}

.log-btn {
  margin-top: 10px;
}

.name{
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .container-login {
    width: 90%;
    max-width: 400px;
    border-radius: 0;
    position: static;
    margin: 50px auto;
  }

  .name {
    font-size: 150%;
  }
  .input input {
    font-size: 120%;
  }

  .login-btn,
  .register-btn {
    padding: 8px;
  }
}

.name {
  font-size: 200%;
}

.input input {
  font-size: 150%;
}

.login-btn,
.register-btn {
  background-color: grey;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.login-btn:hover,
.register-btn:hover {
  background-color: #d3d3d3;
}
