@import url(header.css);

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  height: 5%;
}

.main-container {
  display: grid;
  grid-gap: 5px;
  justify-content: center;
  padding: 20px;
  margin: 0;
  flex-grow: 1;
}

.movie-card {
  border: 1px solid #000;
  background-color: #ccc;
  color: #000;
  border-radius: 5px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.movie-poster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movie-card img {
  max-width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  margin: 5px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.movie-info h2 {
  font-size: 20px;
  margin: 0;
  flex-shrink: 0;
}

.movie-info p {
  margin: 10px 0;
}

.select-btn {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  bottom: 5px;
  right: 5px;
  font-size: 24px;
  width: 100%;
  margin-top: auto;
}

.select-btn:hover {
  background-color: #007bff;
}
.link-btn {
  width: 100%;
}

@media (max-width: 650px) {
  .main-container {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
  }
  .movie-info h2 {
    font-size: 20px;
    margin: 0;
  }
  .movie-card .movie-info p {
    margin: 5px 0;
  }
  .movie-info {
    padding: 0;
  }
  .movie-card {
    display: flex;
    flex-direction: column;
    padding: 1%;
    flex: 1;
  }
  .select-btn {
    font-size: 20px;
    width: 100%;
    margin-top: 10px;
    bottom: 0;
    right: 0;
  }
  .movie-card img {
    border-radius: 5px;
    align-self: center;
  }
  .buttons {
    flex-grow: 1;
  }
  .link-btn {
    width: 100%;
  }
}
@media (min-width: 650px) {
  .main-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .movie-poster {
    justify-content: flex-start;
  }
}
@media (min-width: 1000px) {
  .main-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .movie-poster {
    justify-content: center;
  }
}
