@import url(header.css);

.main-container {
  display: flex;
  justify-content: left;
  position: relative;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.nav-container {
  width: 150px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}
.nav-container a {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
}
.nav-container a:hover {
  background-color: #fff;
  color: #333;
}
.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  position: relative;
  height: 5vh;
}

