@import url(header.css);

.main-container {
  display: flex;
  justify-content: left;
  position: relative;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  overflow: auto;
}

.nav-container {
  width: 150px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}
.nav-container a {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
}
.nav-container a:hover {
  background-color: #fff;
  color: #333;
}
.bookings-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(300px, 1fr));
  grid-gap: 10px;
  align-items: start;
  flex-grow: 1;
}

.info-container {
  border: 1px solid #000;
  background-color: #ccc;
  color: #000;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  position: relative;
  height: 5vh;
}
.profile-menu-img {
  display: block;
  width: 5vh;
  height: 5vh;
  object-position: center;
  border-radius: 50%;
  margin-right: 10px;
}