@import url(header.css);

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}
.container-register {
  justify-content: center;
  background-color: #ccc;
  padding: 50px;
  border: solid black 1px;
  border-radius: 10px;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input {
  margin-bottom: 10px;
}

.submit-btn {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}

.name {
  font-size: 200%;
  margin: 0 auto;
}

.input input {
  font-size: 150%;
}

.submit-btn:hover {
  background-color: #007bff;
}
.already-have a {
  text-decoration: underline;
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  position: relative;
  height: 5vh;
}
.profile-menu-img {
  display: block;
  width: 5vh;
  height: 5vh;
  object-position: center;
  border-radius: 50%;
  margin-right: 10px;
}
