@import url(header.css);

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}
.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.choose-container {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: #ccc;
}

.movie-info-container {
  padding: 10px;
}

.seats-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.summary-container {
  text-align: center;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 8px;
  text-align: center;
  border: none;
}

th {
  background-color: #000000;
}

input[type="submit"] {
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

a {
  color: #ffffff;
}

.summary-container .text {
  margin-bottom: 10px;
}

.summary-container .btn {
  margin-top: 10px;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.main-cointainer h1 {
  text-align: center;
  margin-top: 0;
}

.summary-container input[type="submit"] {
  border-radius: 5px;
  background-color: #000;
}
.summary-container input[type="submit"]:hover {
  background-color: #007bff;
}
.choose-container h4 {
  text-align: center;
  margin: 1%;
}
.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  height: 5%;
}
@media (max-width: 480px) {
  .summary-container {
    margin-top: 5px;
  }
  .choose-container {
    box-sizing: border-box;
    max-width: 100%;
    padding: 5px;
  }
  .seats-container {
    max-width: 100%;
  }
  td {
    padding: 1px;
  }
  input[type="submit"] {
    margin-bottom: 1px;
  }
}
