body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-header {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: #ffffff;
  align-items: center;
  padding: 10px;
  position: relative;
  height: 5vh;
}

.container-header h1 a,
.container-header h1 a:visited,
.container-header h1 a:active {
  text-decoration: none;
  color: white;
}

.logo {
  padding: 10px;
}

.profile-menu {
  position: relative;
  cursor: pointer;
  padding: 20px;
  margin-right: 10px;
}

.about-us,
.business {
  margin-right: 70px;
}

.profile-menu-dropdown {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  min-width: 100%;
  background-color: white;
  padding: 10px;
  z-index: 999;
}

.profile-menu:hover .profile-menu-dropdown {
  display: block;
}

.profile-menu-dropdown a {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 10px;
}

.about {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}

.about a {
  color: #ffffff;
  margin-left: 10px;
  text-decoration: none;
  margin-right: 10px;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}
.container-login {
  justify-content: center;
  background-color: #ccc;
  padding: 50px;
  border: solid black 1px;
  border-radius: 10px;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  justify-content: center;
}

.input {
  margin-bottom: 10px;
}

.submit-btn {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}
.name {
  font-size: 200%;
}

.input input {
  font-size: 150%;
}

.submit-btn:hover {
  background-color: #007bff;
}
.name {
  margin: 0 auto;
}
.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  position: relative;
  height: 5vh;
}

@media screen and (max-width: 600px) {
  .container-login {
    width: 90%;
    max-width: 400px;
    border-radius: 0;
    position: static;
    margin: 50px auto;
  }

  .name {
    font-size: 150%;
  }
  .input input {
    font-size: 120%;
  }

  .login-btn,
  .register-btn {
    padding: 8px;
  }
}
