@import url(header.css);

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  max-width: 100%;
}
.container-register {
  justify-content: center;
  background-color: #ccc;
  padding: 20px;
  border: solid black 1px;
  border-radius: 10px;
  max-width: 100%;
  box-sizing: border-box;
}

.input {
  margin-bottom: 10px;
}

.submit-btn {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}

.name {
  font-size: 26px;
  margin: 0 auto;
}

.input input {
  font-size: 24px;
  max-width: 100%;
}

.submit-btn:hover {
  background-color: #007bff;
}
.already-have a {
  text-decoration: underline;
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  height: 5%
}
hr{
  max-width: 100%;
}

