body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-header {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: #ffffff;
  align-items: center;
  padding: 10px;
  position: relative;
  height: 5vh;
}

.container-header h1 a,
.container-header h1 a:visited,
.container-header h1 a:active {
  text-decoration: none;
  color: white;
}

.logo {
  padding: 10px;
}

.profile-menu {
  position: relative;
  cursor: pointer;
  padding: 20px;
  margin-right: 10px;
}

.about-us,
.business {
  margin-right: 70px;
}

.profile-menu-dropdown {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  min-width: 100%;
  background-color: white;
  padding: 10px;
  z-index: 999;
}

.profile-menu:hover .profile-menu-dropdown {
  display: block;
}

.profile-menu-dropdown a {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 10px;
}

.about {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}

.about a {
  color: #ffffff;
  margin-left: 10px;
  text-decoration: none;
  margin-right: 10px;

}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.summary-container {
  border: 1px solid #000;
  padding:2% ;
  background-color: #ccc;
  color: #000;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.summary-container a {
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.summary-container p{
  padding: 1%;
  font-size: 120%;
}
.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  position: relative;
  height: 5vh;
}

.summary-btn {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: auto;
  bottom: 5px;
  right: 5px; 
}

@media screen and (max-width: 767px) {
  .container-header {
    flex-wrap: wrap;
    padding: 10px 5px;
  }
  .profile-menu {
    margin-right: 0;
    margin-top: 10px;
  }
  .about-us,
  .business {
    margin-right: 0;
    margin-top: 10px;
  }
  .profile-menu-dropdown {
    top: 100%;
    padding: 5px;
  }
}
